version: "{{ docker_api_version }}"
services:
  elastic:
    container_name: elastic-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}
    image: "{{ elastic_base_image }}:{{ elastic_version }}"
    restart: unless-stopped
    volumes:
      - "{{ elasticsearch_base_directory }}Elasticsearch/Config/Certs:/usr/share/elasticsearch/config/certs"
      - "{{ elasticsearch_base_directory }}{{ elastic_data_path_on_host }}:{{ elastic_data_path_on_container }}"
      - "{{ elasticsearch_base_directory }}Elasticsearch/Config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
      - "{{ elasticsearch_base_directory }}{{ elastic_log_path_on_host }}:{{ elastic_log_path_on_container }}"
    environment:
      - ELASTIC_PASSWORD={{ elastic_password }}
      - ELASTICSEARCH_DEPLOYMENT_ENVIRONMENT={{ elasticsearch_deployment_environment }}
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: "{{ elasticsearch_max_log_size }}"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: "{{ elasticsearch_memory_limit }}"
    cpus: "{{ elasticsearch_cpu_limit }}"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -I  -k https://elastic-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}-public:9200  | grep -q '401'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120

  kibana:
    container_name:  kibana-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}
    image: "{{ kibana_base_image }}:{{ kibana_version }}"
    restart: unless-stopped
    volumes:
      - "{{ elasticsearch_base_directory }}Elasticsearch/Config/Certs:/usr/share/kibana/config/certs"
      - "{{ elasticsearch_base_directory }}Elasticsearch/Kibana/Kibana_Data:/usr/share/kibana/data"

    network_mode: host
    environment:
      - SERVERNAME=kibana
      - ELASTICSEARCH_HOSTS=https://elastic-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}-public:9200
      - ELASTICSEARCH_USERNAME={{ kibana_system_username }}
      - ELASTICSEARCH_PASSWORD={{ kibana_password }}
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=/usr/share/kibana/config/certs/ca/ca.crt
      - ELASTICSEARCH_DEPLOYMENT_ENVIRONMENT={{ elasticsearch_deployment_environment }}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120
    ulimits:
      memlock:
        soft: -1
        hard: -1
    logging:
      driver: json-file
      options:
        max-size: "{{ kibana_max_log_size }}"
    mem_limit: "{{ kibana_memory_limit }}"
    cpus: "{{ kibana_cpu_limit }}"



