cluster.name: "{{ elasticsearch_cluster_name }}"

# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html
network.host: 0.0.0.0
http.host: elastic-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}-public
transport.host: elastic-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}


# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html
#node.master: true
node.roles: [ data, master, ingest, data_hot, data_warm, remote_cluster_client, transform, data_content   ]
path.data:  {{ elastic_data_path_on_container }}
path.logs: {{ elastic_log_path_on_container }}



node.name: elastic-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}

cluster.initial_master_nodes: elastic-1,elastic-2,elastic-3



{% set host_index = ansible_play_hosts_all.index(inventory_hostname) %}
{% if host_index == 0 %}
# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-settings.html
discovery.seed_hosts: elastic-2,elastic-3

{% elif host_index == 1 %}
# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-settings.html
discovery.seed_hosts: elastic-1,elastic-3

{% elif host_index == 2 %}
# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-settings.html
discovery.seed_hosts: elastic-1,elastic-2
{% endif %}
# https://www.elastic.co/guide/en/elasticsearch/reference/current/security-settings.html
xpack.security.enrollment.enabled: true
xpack.security.enabled: true
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: /usr/share/elasticsearch/config/certs/elastic-{{host_index + 1 }}/elastic-{{host_index + 1}}.key
xpack.security.http.ssl.certificate: /usr/share/elasticsearch/config/certs/elastic-{{host_index + 1}}/elastic-{{host_index + 1}}.crt
xpack.security.http.ssl.certificate_authorities: /usr/share/elasticsearch/config/certs/ca/ca.crt
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.key: /usr/share/elasticsearch/config/certs/elastic-{{host_index + 1}}/elastic-{{host_index + 1}}.key
xpack.security.transport.ssl.certificate: /usr/share/elasticsearch/config/certs/elastic-{{host_index + 1}}/elastic-{{host_index + 1}}.crt
xpack.security.transport.ssl.certificate_authorities: /usr/share/elasticsearch/config/certs/ca/ca.crt
xpack.security.transport.ssl.verification_mode: certificate
xpack.license.self_generated.type: basic








# https://www.elastic.co/guide/en/elasticsearch/reference/current/_memory_lock_check.html
bootstrap.memory_lock: true

# https://www.elastic.co/guide/en/elasticsearch/reference/7.17/modules-discovery-settings.html
cluster.no_master_block: write

# https://www.elastic.co/guide/en/elasticsearch/reference/current/recovery.html
# indices.recovery.max_bytes_per_sec: 125mb

indices.recovery.max_concurrent_file_chunks: 6
indices.recovery.max_concurrent_operations: 1



# https://www.elastic.co/guide/en/elasticsearch/reference/current/search-settings.html
indices.query.bool.max_nested_depth: 30

##############################