all:
  children:
    redis:
      hosts:
        elastic-0:
          ansible_host: #{{ ip_address }}
          ansible_user: root
          mode: 'elastic'
          init_cluster: 'true'
        elastic-1:
          ansible_host: #{{ ip_address }}
          ansible_user: root
          mode: 'elastic'
          init_cluster: 'false'
        elastic-2:
          ansible_host: #{{ ip_address }}
          ansible_user: root
          mode: 'elastic'
          init_cluster: 'false'

    monitoring:
      hosts:
        monitoring-hel-0:
          ansible_host: #{{ ip_address }}
          ansible_user: root
          mode: 'monitoring'
          init_cluster: 'false'


