cluster.name: elasticsearch

# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html
network.host: 0.0.0.0
http.host: node-{{ ansible_play_hosts_all.index(inventory_hostname) }}-public
transport.host: node-{{ ansible_play_hosts_all.index(inventory_hostname) }}


# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html
#node.master: true
node.roles: [ data, master, ingest, data_hot, data_warm, remote_cluster_client, transform, data_content   ]
path.data:  /var/elasticsearch/data



node.name: node-{{ ansible_play_hosts_all.index(inventory_hostname) }}

cluster.initial_master_nodes: node-1,node-2,node-3



{% set host_index = ansible_play_hosts_all.index(inventory_hostname) %}
{% if host_index == 0 %}
# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-settings.html
discovery.seed_hosts: node-1,node-2

{% elif host_index == 1 %}
# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-settings.html
discovery.seed_hosts: node-0,node-2

{% elif host_index == 2 %}
# https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-settings.html
discovery.seed_hosts: node-0,node-1
{% endif %}
# https://www.elastic.co/guide/en/elasticsearch/reference/current/security-settings.html
xpack.security.enrollment.enabled: true
xpack.security.enabled: true
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: /usr/share/elasticsearch/config/certs/node-{{host_index}}/node-{{host_index}}.key
xpack.security.http.ssl.certificate: /usr/share/elasticsearch/config/certs/node-{{host_index}}/node-{{host_index}}.crt
xpack.security.http.ssl.certificate_authorities: /usr/share/elasticsearch/config/certs/ca/ca.crt
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.key: /usr/share/elasticsearch/config/certs/node-{{host_index}}/node-{{host_index}}.key
xpack.security.transport.ssl.certificate: /usr/share/elasticsearch/config/certs/node-{{host_index}}/node-{{host_index}}.crt
xpack.security.transport.ssl.certificate_authorities: /usr/share/elasticsearch/config/certs/ca/ca.crt
xpack.security.transport.ssl.verification_mode: certificate
xpack.license.self_generated.type: basic








# https://www.elastic.co/guide/en/elasticsearch/reference/current/_memory_lock_check.html
bootstrap.memory_lock: true

# https://www.elastic.co/guide/en/elasticsearch/reference/7.17/modules-discovery-settings.html
cluster.no_master_block: write

# https://www.elastic.co/guide/en/elasticsearch/reference/current/recovery.html
# indices.recovery.max_bytes_per_sec: 125mb

indices.recovery.max_concurrent_file_chunks: 6
indices.recovery.max_concurrent_operations: 1



# https://www.elastic.co/guide/en/elasticsearch/reference/current/search-settings.html
indices.query.bool.max_nested_depth: 30

##############################